@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/* ++++++++++++++++custom scroll bar +++++++++++++++ */

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background:var(--scrollback); /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#5b29efa7,#af6befa1); /* Color of the thumb */
  border-radius: 10px; /* Roundness of the thumb */
  width: 1000px;
}

/* Define the container height for scrolling */
.scrollable-container {
  height: 200px;
  overflow-y: scroll; /* Enable vertical scrollbar */
  
}